*.la
*.o
*.lo
.cproject
.project
.autotools
config.log
lib/.deps/
lib/.libs/
plugins/admin/.deps/
plugins/admin/.libs/
plugins/debug/.deps/
plugins/debug/.libs/
plugins/proxy/.deps/
plugins/proxy/.libs/
plugins/replicant/.deps/
plugins/replicant/.libs/
script/.deps/
script/encrypt
src/mysql-binlog-dump
src/mysql-myisam-dump
src/mysql-proxy
src/sql-tokenizer-gen
src/sql-tokenizer-keywords.c
src/sql-tokenizer.c
src/.deps/
src/.libs/
Makefile
autom4te.cache/
config.status
examples/Makefile
lib/Makefile
lib/proxy/Makefile
libtool
m4/Makefile
plugins/Makefile
plugins/admin/Makefile
plugins/debug/Makefile
plugins/proxy/Makefile
plugins/replicant/Makefile
script/Makefile
src/Makefile
